.THIS.childItem{
    padding-left:20px;
}
.THIS.iconUp{
    transition: .2s transform ease-in-out;
    transform: rotate(90deg);  
}
.THIS.iconDown{
    transition: .2s transform ease-in-out;
    transform: rotate(0deg);  
}